#save-button, #yes-button, #no-button, #confirm-button, #go-back-button {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#save-button:hover, #yes-button:hover, #no-button:hover, #confirm-button:hover, #go-back-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#grid {
    -fx-background-image: url("../Resources/Images/BDOptionsBG.png");
    -fx-background-size: cover;
}

#first-name-text, #last-name-text, #email-text, #telephone-text,
#salary-text, #address-text, #gender-text, #position-text, #date-of-birth-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#first-name-textfield, #last-name-textfield, #email-textfield, #telephone-textfield,
#salary-textfield, #address-textfield, #date-of-birth-field {
    -fx-background-color: linear-gradient(white, #d0d0d0);
}

#gender-combo, #position-combo, #vehicle-colors-combo {
    -fx-background-color: linear-gradient(white, #d0d0d0);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#delete-scene-vbox {
    -fx-background-color: linear-gradient(from 0px 0px to 100px 100px, #0b2d39, #1a6985);
}

#error-text {
    -fx-fill: red;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}
